---
subtitle: connect
logo_mark: true
layout: layout.njk
---

<section id="preface">

<h1><b class="logotype">Design.Systems Coalition Guidelines</b></h1>

</section>


<section class="alternate">

<div class="split-col-equal end">
<p>Design Systems Coalition was founded by <a href="http://jina.me">Jina Anne</a>. To use the "Design Systems Coalition" name, you must agree and adhere to the <abbr title="Design Systems Coalition">DSC</abbr> guidelines, and get approval by Jina. Once you've been approved, you'll be added to <a href="/connect">the list</a>.</p>
<p><strong>Guidelines in progress; coming soon...</strong> In the meantime, you can checkout the guidelines for <a href="https://www.sfdsc.co/about/"> <abbr title="San Fracisco">SF</abbr> <abbr title="Design Systems Coalition">DSC</abbr></a>
and <a href="https://github.com/design-systems-coalition-NYC/meetup/tree/master/docs"><abbr title="New York City">NYC</abbr> <abbr title="Design Systems Coalition">DSC</abbr></a>.</p>
</div>

</section>


<section id="dsc-guidelines" class="long-length alternate">

<h2>Guidelines Placeholder</h2>

<div>
<h3>Table of contents</h3>
<ul class="table-of-contents">
<li>
<a href="#">Items</a>
<ul>
<li>
<a href="#">Sub item</a>
</li>
</ul>
</li>
<li>
<a href="#">Item</a>
</li>
</ul>
</div>

<div>
<h3>Header 3</h3>
<p>All about the coalition.</p>
<h4>Header 4</h4>
<p>More about the coalition.</p>
<ul>
<li>A list item</li>
<li>A list item</li>
</ul>

</div>

</section>
