---
subtitle: connect
logo_mark: true
---
{% extends "layout.njk" %}

{% block main %}
<section id="preface">

<h1><a href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w"><b class="logotype">Slack</b></a> is where it all started&#8202;&#8212;&#8202;join for discussions about design systems, style guides, component libraries, and pattern&#160;libraries.</h1>

<p><a class="cta" href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w">Join the channel</a></p>

</section>


<section id="slack-code-of-conduct" class="long-length alternate">

<h2>Code of Conduct</h2>

<div>
<h3>Table of contents</h3>
<ul class="table-of-contents">
<li>
<a href="#welcome">Welcome</a>
<ul>
<li>
<a href="#admins">Admins</a>
</li>
</ul>
</li>
<li>
<a href="#what-we-strive-for">What we strive&#160;for</a>
</li>
<li>
<a href="#unacceptable-behavior">Unacceptable&#160;behavior</a>
<ul>
<li>
<a href="#harassment-includes">Harassment&#160;includes</a>
</li>
</ul>
</li>
<li>
<a href="#reporting">Reporting</a>
</li>
<li>
<a href="#consequences">Consequences</a>
</li>
<li>
<a href="#message-retention">Message&#160;retention</a>
</li>
<li>
<a href="#privacy">Privacy</a>
</li>
<li>
<a href="#credits-and-license">Credits and&#160;license</a>
</li>
</ul>
</div>

<div>
<h3>Welcome!</h3>
<p>The purpose of the Design Systems Slack to promote the discussion of&#160;design systems, style guides, component libraries, and pattern&#160;libraries.</p>
<p>The Design Systems Slack is dedicated to providing a welcoming environ&#173;ment&#160;for everyone and expects participants in this community to act in a way&#160;that promotes an environ&#173;ment that is harassment-free, safe, comfortable,&#160;and enjoyable to be a part of. We do not tolerate harass&#173;ment of participants in&#160;any form. Participants asked to stop any harass&#173;ing behavior are expected to&#160;comply immediately.</p>
<h4 id="admins">Admins</h4>
<p>The current admins (and their Design Systems Slack handles)&#160;are:</p>
<ul class="short-list">
<li>Jina Anne -&#160;@jina</li>
<li>Maya Benari -&#160;@maya</li>
<li>Nathan Curtis -&#160;@nathanacurtis</li>
<li>Anna Debenham -&#160;@anna</li>
<li>Una Kravets -&#160;@una</li>
<li>Josh Silverman -&#160;@josh</li>
<li>Mina Markham —&#160;@mina</li>
<li>Dan Mall&#160;— @danmall</li>
</ul>
<h3 id="what-we-strive-for">What we strive&#160;for</h3>
<p>We strive to create a welcoming and inclu&#173;sive culture that encourages people&#160;to have discussi&#173;ons about design systems. Our atmosphere requires an open&#160;exchange of ideas balanced by thoughtful guidelines. It would be impossible to&#160;list everything needed to create a more welcoming space, but we encourage you&#160;to em&#173;brace these principles for&#160;guidance:</p>
<ul>
<li>Be humble; practice empathy and&#160;humility.</li>
<li>Assume competence in each&#160;other.</li>
<li>Listen carefully and&#160;actively.</li>
<li>Ask questions, and seek to understand each other&#8217;s&#160;context.</li>
<li>Encourage other people to listen as much as they&#160;speak.</li>
<li>Respect each others time by doing research before asking questions that&#160;have been addressed before or in other&#160;channels.</li>
<li>Be open and honest about your intentions (particularly important for&#160;those sharing&#160;resources).</li>
</ul>
<h3 id="unacceptable-behavior">Unacceptable&#160;behavior</h3>
<p>To help participants understand behav&#173;iors that are unacceptable or run&#160;counter to our culture, we’ve listed below actions that violate our Code of&#160;Conduct policy.</p>
<p>This list does not cover every case. Each person you interact with is&#160;unique, and as a result can define a line of unacceptable behavior that’s unique&#160;to them. Ensuring that your behavior does not have a negative impact is&#160;your responsibility.</p>
<h4 id="harassment-includes">Harassment&#160;includes:</h4>
<ul>
<li>Negative or offensive remarks based on race, religion, color, sex (with&#160;or without sexual conduct and including pregnancy and sexual orientation&#160;involving transgender status/gender identity, and sex-stereotyping), national origin,&#160;age, disability, genetic information, sexual orientation, gender identity,&#160;gender expression, parental status, marital status, political affiliation,&#160;mental illness, socioeconomic status or background, neuro(a)typicality, physical appearance, body size, or&#160;clothing</li>
<li>Gratuitous or off-topic sexual images or&#160;behavior</li>
<li>Unwelcome sexual attention or&#160;remarks</li>
<li>Threats of&#160;violence</li>
<li>Incitement of violence towards any individual, including encouraging a&#160;person to commit suicide or to engage in&#160;self-harm</li>
<li>Deliberate&#160;intimidation</li>
<li>Sustained disruption of&#160;discussion</li>
<li>Continued one-on-one communication after requests to&#160;cease</li>
<li>Constant private messaging to pick people’s brains rather than having&#160;open conversations in public&#160;channels</li>
<li>Publication of non-harassing private&#160;communication</li>
<li>Intentionally or repeatedly referring to people in a way that rejects&#160;the validity of their gender identity; for instance, by using incorrect&#160;pronouns or forms of address&#160;(misgendering)</li>
<li>
Microaggressions, which are small comments or questions, either intentional&#160;or unintentional, that marginalize people by communicating hostile,&#160;derogatory, or negative beliefs. Examples&#160;include: 
<ul>
<li>
Patronizing language or&#160;behavior 
<ul>
<li>Pedantic corrections that don’t contribute to the conversation&#160;(For example: “Well&#160;actually’s…&#8221;)</li>
<li>Assuming without asking that particular people or groups need&#160;concepts defined or explained to them. (It’s great to be sensitive to the fact&#160;that people may not be familiar with technical terms you use every day.&#160;But assuming that people are uninformed can come across as&#160;patronizing.)</li>
<li>Assuming that particular groups of people are technically unskilled&#160;(&#8220;So easy your grandmother could do&#160;it.&#8221;)</li>
</ul>
</li>
<li>Repeatedly interrupting or talking over someone&#160;else</li>
<li>Feigning surprise at someone’s lack of knowledge or awareness about a&#160;topic</li>
<li>The use of racially charged language to describe an individual or thing&#160;such as &#8220;thug&#8221; or&#160;“ghetto”</li>
<li>Referring to an individual in a way that demeans or challenges the&#160;validity of their racial&#160;identity</li>
<li>Mocking someone’s real or perceived accent or first&#160;language.</li>
</ul>
</li>
<li>Retaliating against anyone who files a complaint that someone has&#160;violated this code of&#160;conduct.</li>
</ul>
<h4 id="open--honest-sharing">
Open 
<span class="amp">&amp;</span>
Honest&#160;Sharing
</h4>
<p>When it comes to sharing resources, please be open and honest about any&#160;costs associated with using the resource. If there is a price, or if there is a&#160;sign up form (which comes at a cost at providing personal information), then&#160;that needs to be made very clear when&#160;announcing.</p>
<h3 id="reporting">Reporting</h3>
<p>
If you are being harassed, notice that someone else is being harassed, or&#160;have any other concerns, please contact the 
<a href="#admins">admins</a>
by sending them&#160;a direct message. They&#8217;ll respond as promptly as they&#160;can.
</p>
<p>The admins will respect confiden&#173;tiality requests for the purpose of&#160;protecting victims of abuse. At our discretion, we may publicly name a person about&#160;whom we’ve received harassment complaints, or privately warn third parties&#160;about them. We will not name harassment victims without their affirmative&#160;consent.</p>
<h3 id="consequences">Consequences</h3>
<p>Participants asked to stop any inappropriate or harassing behavior must&#160;comply immediately.</p>
<p>If a participant engages in harassing behavior, the admins may take any&#160;action they deem appropriate, including warning the offender and up to and&#160;including expulsion from this slack and identifying the participant publicly as&#160;someone about whom we&#8217;ve received&#160;complaints.</p>
<h3 id="message-retention">Message&#160;retention</h3>
<p>
Because this is a free slack account, we have restricted scrollback,&#160;but Slack–the company–retains complete logs of all channels and direct&#160;messages back to the creation of Design Systems Slack. Slack is a 
<span class="caps">U.S.</span>
company&#160;and therefore subject to subpoenas from 
<span class="caps">U.S.</span>
courts. Our logs may be subject&#160;to subpoena and could become public as part of legal&#160;proceedings.
</p>
<h3 id="privacy">Privacy</h3>
<p>
<strong>Please be mindful that things you say here may at some point become public</strong>. This is a public slack. Please exercise caution and refrain from&#160;sharing sensitive information that could harm you or others if it became&#160;public.
</p>
<h3 id="credits-and-license">Credits and&#160;license</h3>
<p>
<em>
[This work is available to you to use, publish, and modify under the terms&#160;of the 
<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a>
. Please keep the paragraph below attached to your final&#160;version.]
</em>
</p>
<p>We are greatly appreciative of the multiple sources that we drew from to&#160;build this Code of Conduct,&#160;including:</p>
<ul>
<li>
<a href="https://github.com/18F/code-of-conduct">
<span class="caps">TTS</span>
Code of&#160;Conduct
</a>
</li>
<li>
<a href="https://github.com/codeforamerica/codeofconduct">Code for America Code of&#160;Conduct</a>
</li>
<li>
<a href="http://adainitiative.org/2014/02/howto-design-a-code-of-conduct-for-your-community/">
Ada Initiative: 
<span class="caps">HOWTO</span>
design a code of conduct for your&#160;community
</a>
</li>
<li>
<a href="http://geekfeminism.org/about/code-of-conduct/">Geek Feminism Code of&#160;Conduct</a>
</li>
<li>
<a href="http://bridgefoundry.org/code-of-conduct/">Bridge Foundry Code of&#160;Conduct</a>
used for RailsBridge, and other related workshops and open source&#160;projects
</li>
<li>
<a href="https://openhatch.org/wiki/Project_codes_of_conduct">Open Hatch Project Codes of&#160;Conduct</a>
</li>
<li>
<a href="http://yesandyesyes.com/code-of-conduct">Yes and Yes Yes Code of&#160;Conduct</a>
</li>
<li>
<a href="http://adainitiative.org/2014/02/howto-design-a-code-of-conduct-for-your-community/">
Ada Initiative: 
<span>HOWTO</span>
design a code of conduct for your&#160;community
</a>
</li>
<li>
<a href="http://www.pyladies.com/CodeOfConduct/">PyLadies Code of&#160;Conduct</a>
</li>
<li>
<a href="https://www.hackerschool.com/manual#sec-environment">Hacker School User&#8217;s Manual: The&#160;Environment</a>
</li>
<li>
<a href="http://geekfeminism.org/about/code-of-conduct/">Geek Feminism Code of&#160;Conduct</a>
</li>
<li>
<a href="http://geekfeminism.wikia.com/wiki/Code_of_conduct">Geek Feminism Wiki: Codes of Conduct&#160;Evaluations</a>
</li>
<li>
<a href="https://www.python.org/psf/codeofconduct/">Python Code of&#160;Conduct</a>
</li>
</ul>
<p>
This code of conduct is based on Annalee Flower&#160;Horne&#8217;s 
<a href="https://gist.github.com/annalee/2cddeff11357c3a8a613583ebca4dc17">Sample Slack Code of Conduct</a>
, which is in turn based on Geek&#160;Feminism&#8217;s 
<a href="http://geekfeminism.wikia.com/wiki/Community_anti-harassment/Policy">Community Anti-Harassment Policy</a>
. We have adapted the Sample Slack Code of Conduct for our own use under the&#160;terms of&#160;the 
<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a>
.
</p>

</div>
	
<p class="cta-button"><a class="cta" href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w">Join the channel</a></p>

</section>
{% endblock %}
