---
subtitle: learn
logo_mark: true
layout: layout.njk
---

<section id="preface">

<h1><b class="logotype">Glossary of Design Systems Terms</b></h1>

</section>


<section id="glossary" class="alternate">

<dl>

<dt>Term (dt)</dt>
<dd>Definiton description (dd) of any kind of length no matter what. It should be deal with as a single paragraph.</dd>

<dt>Term (dt)</dt>
<dd>Definiton description (dd) of any kind of length no matter what. It should be deal with as a single paragraph.</dd>

</dl>

</section>
