/* 

2021-11-01
Screen stylesheet

*/



/* Screen ≥ 320px (small) */

@media screen and (min-width: 320px) {



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



/* CSS1 styles (you never know) */

html {
height: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
overflow-x: hidden;
}
body{
font-family:  sans-serif;
font-size: 1em;
line-height: 1.5;
text-align: left;
padding: 2.5% 5%;
}
h1, h2, h3, h4{
font-weight: bold;
margin-top: 3em;
margin-bottom: 0.75em;
}
h1{
font-size: 2em;
line-height: 1.25;
}
h2{
font-size: 1.5em;
line-height: 1.25;
}
h3, h4, p, ul, ol, dl{
font-size: 1em;
line-height: 1.5;
margin-bottom: 0.75em;
}
address{
margin-top: 3em;
}


/* Complex styles 


Pallete:

body 			        #474947
dark tone         #272927
light tone        #777977
background        #fff
background tone   #f8f8f7


*/


body{
color: #474947;
font-family: Recursive, sans-serif;
font-variation-settings: 'CASL' 0;
text-align: left;
box-sizing: border-box;
background: #f8f8f7 url(../i/bg-tile.png) fixed repeat;
background-size: 150px;
padding:  0;
}

/* General typesetting (small +) */

.logotype{
font-weight: 900;
font-variation-settings: 'MONO' 0.19, 'CASL' 0, 'CRSV' 1;
/* slnt not working in Safari */
}

h1{
font-size: 1.5em;
line-height: 1.5;
font-weight: 400;
letter-spacing: -0.03333333333em;
max-width: 36em;
}
h1 b{
font-size: 1.25em;
line-height: 1;
color: #272927;
}
h2,
h3,
h4{
color: #272927;
font-variation-settings: 'MONO' 0.19, 'CASL' 0, 'CRSV' 1;
/* Matches .logotype brand. 'slnt' not working in Safari but may not be necessary - needs review */
}
h2{
font-size: 1.875em;
line-height: 1.25;
font-weight: 800;
letter-spacing: -0.03333333333em;
margin: 0 0 1.25em;
}
h3{
font-size: 1.5em;
line-height: 1.25;
font-weight: 800;
margin-bottom: 0.6666666667em;
}
h2 + h3{
margin-top: 0;
}
h4{
font-size: 1.25em;
line-height: 1.5;
margin: 2.25em 0 0.75em;
}

a:link,
a:visited{
color: #272927;
text-decoration: none;
}
a:focus,
a:hover{
text-decoration: underline;
}
a:active{
}

h1 a{
font-weight: 650;
}
p a,
li a{
font-weight: 700;
}


/* General layout (small) */

header,
main,
footer{
display: block;
box-sizing: border-box;
background: #fff;
}
header{
margin-top: 3em;
}
header,
footer{
padding: 0 4%;
}
main section + section,
article{
padding: 4em 8%;
}
main section.alternate{
background: #f8f8f7;
}


/* Individual section styles (small) */

header a:link,
header a:visited{
text-decoration: none;
}
header p a:hover,
header p a:focus{
text-decoration: underline;
}
header p{
padding:  1.25em 0;
margin-bottom: 0;
border-bottom: 0.0625em dotted #272927;
}
header p a{
font-size:  1.125em;
padding: 1.1111111111em 0;
}

#location .logomark{
display: none;
}

nav ul{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: baseline;
margin:  0;
}
nav li{
padding: 0 13.0434782609% 0 0;
}
nav a{
display: inline-block;
font-weight: 750;
padding: 0.75em 0;
}
nav a:link,
nav a:visited{
transition: all 0.25s ease-out;
border-bottom: 0.15625em solid #fff;
}
nav a:hover,
nav a:focus,
nav a:active{
text-decoration: none;
transition: all 0.25s ease-out;
border-bottom: 0.15625em solid #272927;
}
nav a.live{
border-bottom: 0.15625em solid #272927;
}

#preface{
padding: 5em 8% 4em;
}
#preface h1{
position: relative;
margin: 0;
}
#preface .logomark{
display: block;
width: 3em;
margin: 0 0 0.75em;
}

.introduction{
padding-bottom: 3em;
border-bottom: 0.0625em dotted #777977;
}

.split-col-asymmetric{
padding-bottom: 2.25em;
border-bottom: 0.0625em dotted #777977;
margin-bottom: 2.25em;
}
.end{
padding-bottom: 0;
border: 0;
margin-bottom: 0;
}

.cta{
font-weight: 550;
display: inline-block;
margin: 3em 0 4.5em;
padding: 0.875em 3em 0.75em;
transition: all 0.25s ease-out;
}
#preface .cta{
margin-bottom: 0;
}
.cta:link,
.cta:visited{
color: #f8f8f7;
text-decoration: none;
background: #272927;
border-radius: 0.25em;
}
.cta:focus,
.cta:hover,
.cta:active{
text-decoration: none;
background: #272927;
box-shadow: 0 0.25em 0.75em 0 #a7a9a7;
transform: translateY(-0.125rem);
transition: all 0.25s ease-out;
}

.avatar{
box-sizing: border-box;
float: left;
margin-right: 0.75em;
transition: all 0.25s ease-out;
border: 0.1875em solid #272927;
border-radius: 100%;
overflow: hidden;
}
#coalition .avatar{
width: 2.25em;
height: 2.25em;
border-width: 0.125em;
}

.cta-slack{
display: block;
padding: 3em 0;
margin-bottom: 3em;
border-bottom: 0.0625em dotted #777977;
}
.cta-slack h3{
white-space: nowrap;
margin-top: 0;
padding-left: 1em;
background: url(../i/ico-slack.svg) no-repeat center left;
margin-right: 1.875em;
}
.cta-slack em{
font-weight: 700;
}
.cta-slack-h{
padding-left: 1em;
background: url(../i/ico-slack.svg) no-repeat center left;
background-size: 0.7777777778em;
}

.cta-clarity{
display: block;
background: #272927;
}
#connect .cta-clarity{
margin: -3em 0 4.5em;
}
#clarity{
padding-top: 0;
padding-bottom: 0;
}
#clarity .cta-clarity{
margin: -1.5em 0 0;
}
.cta-clarity h3{
width: 100%;
text-align: center;
background: #272927 url(../i/clarity-crowd.jpg) no-repeat center center;
background-size: cover;
margin: 0;
}
.cta-clarity h3 img{
width: 50%;
margin-top: 3em;
margin-bottom: 2.25em;
transition: all 0.25s ease-out;
}
.cta-clarity p{
width: 90%;
text-align: center;
color: #f7c3c0;
margin: 1.5em 5% 0;
padding-bottom: 1.5em;
}
.cta-clarity p span{
display: block;
color: #7c8890;
margin: 0.75em auto 0;
}
.cta-clarity:hover img,
.cta-clarity:focus img{
transform: scale(1.1);
transition: all 0.25s ease-out;
}
.cta-clarity:hover *{
text-decoration: underline;
}

.meetups h3{
margin-top: 0;
}
.meetups h3 em{
font-size: 0.6666666667em;
line-height: 1.5;
margin-top: 0.4em;
display: block;
}
.cta-twitter{
padding-left: 1.875em;
background: url(../i/ico-twitter.svg) no-repeat left center;
}
.meetups li{
border-bottom: 0.0625em dotted #777977;
padding-bottom: 2.25em;
margin-bottom: 2.25em;
}
.meetups li ul{
margin-bottom: 0; 
}
.meetup-info li{
font-weight: 700;
line-height: 1.5em;
padding-bottom: 0;
margin-bottom: 0.75em;
border: 0;
}
.meetups i{
font-size: 0.875em;
font-weight: 400;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
}
.meetup-info ul {
margin-top: 0.75em;
}
.meetup-info ul li{
line-height: 2.25em;
}

.posts{
margin-bottom: 3em;
}
.posts li{
padding-top: 3em;
border-top: 0.0625em dotted #777977;
margin-bottom: 3em;
}
.posts h3{
margin: 0 0 0.3333333333em;
}
.posts p{
margin-bottom: 1.5em;
}
.posts .post-info li{
display: block;
padding-top: 0;
border: 0;
}
.post-info{
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
text-align: left;
margin: 0.5em 0 0;
}
.post-info a{
transition: all 0.25s ease-out;
}
.post-info a:hover img,
.post-info a:focus img{
transform: scale(1.05);
transition: all 0.25s ease-out;
}
.post-info li{
display: block;
margin-bottom: 0;
}
.post-info .avatar{
margin-top: -0.3333333333em;
width: 3.75em;
height: 3.75em;
}

.cta-handbook{
display: block;
margin-bottom: 3em;
background: #373964;
text-align: center;
}
.cta-handbook img{
vertical-align: bottom;
width: 66.6666666667%;
transition: all 0.25s ease-out;
}
.handbook-info{
padding: 1.5em 5% 0.75em;
text-align: center;
background: #e4eddf;
}
.handbook-info h3{
margin: 0 0 0.3333333333em;
}
.handbook-info p{
margin: 0 0 1.5em;
}
.cta-handbook:hover img,
.cta-handbook:focus img{
transform: scale(1.025);
transition: all 0.25s ease-out;
}

#community ul{
margin: 3em 0 0;
}
#community li{
margin-bottom: 0.75em;
}
#community li a{
display: flex;
align-items: center;
}
#community .avatar{
width: 3.75em;
height: 3.75em;
flex-shrink: 0;
}

#handbook{
padding-top: 0;
padding-bottom: 0;
}

.contribute-types li h2{
margin-bottom: 0.4em;
}
.contribute-types li{
margin-bottom: 2.25em;
}

#slack-code-of-conduct .cta-button{
font-size: 1rem;
}
#slack-code-of-conduct .cta-button a{
text-decoration: none;
}


article header{
display: block;
padding:  0;
margin: 0 0 3em 0;
}
article header h1{
font-size: 2.5em;
line-height: 1.3333333333;
font-weight: 300;
letter-spacing: -0.08333333333em;
font-variation-settings: 'MONO' 0, 'CASL' 0, 'CRSV' 1;
color: #272927;
margin: 0 0 0.3em;
}
article header .article-info{
margin: 0;
border: 0;
}
article header .article-info p{
margin-bottom: 0;
}
article header .article-info a{
font-size: 1em;
display: block;
padding: 0;
transition: all 0.25s ease-out;
}
article header .article-info  a:hover img,
article header .article-info  a:focus img{
transform: scale(1.05);
transition: all 0.25s ease-out;
}
article header .article-info img{
width: 3.4285714286em;
height: 3.4285714286em;
}
article.long-length h2,
article.long-length h3,
article.long-length h4{
font-variation-settings: 'CASL' 0, 'CRSV' 0;
}
.long-length h2{
margin: 0;
max-width: 22.6666666667em;
}
article.long-length h2{
font-weight: 400;
margin: 1.6666666667em 0 0.6666666667em;
}
.long-length h3{
line-height: 1.1666666667;
margin: 2.3333333333em 0 1.1666666667em;
}
article.long-length h3{
font-weight: 450;
letter-spacing: -0.02083333333em;
}
.long-length h4{
font-weight: 800;
margin: 2.3333333333em 0 0.7777777778em;
}
article.long-length h4{
font-variation-settings: 'CASL' 0, 'CRSV' 0;
font-weight: 500;
}
.long-length h4,
.long-length p,
.long-length ul,
.long-length ol{
font-size: 1.125em;
line-height: 1.5555555556;
max-width: 36em;
}
.long-length header .article-info,
.long-length cite,
.long-length figcaption,
.long-length .marginalia p{
font-size: 0.875em;
line-height: 1.7142857143;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
color: #777977;
margin-bottom: 1.7142857143em;
}
.long-length em,
.long-length i{
font-style: italic;
}
.long-length strong{
font-weight: 600;
}
.long-length ul{
list-style-type: disc;
margin-bottom: 0;
}
.long-length li{
margin-bottom: 0.7777777778em;
}
.long-length .short-list{
margin-bottom: 0.7777777778em;
}
.long-length .short-list li{
margin-bottom:  0;
}
.long-length li ul{
font-size: 1em;
margin: 0.7777777778em 1em;
}
.long-length li ul li{
list-style-type: circle;
}
.long-length li ul li ul li{
list-style-type: square;
}
.long-length .no-bullet{
list-style-type: none;
}
.long-length .emoji-bullet li:first-letter{
margin-left: -1.3333333333em;
}
.long-length ol{
list-style-type: decimal;
}
.long-length a:link,
.long-length a:visited{
text-decoration: underline;
text-decoration-style: dotted;
text-decoration-color: #777977;
}
.long-length a:focus,
.long-length a:hover,
.long-length a:active{
text-decoration-style: solid;
text-decoration-color: #272927;
}
.long-length blockquote,
.long-length aside{
margin: 3em 0;
}
.long-length blockquote p,
.long-length aside p{
font-variation-settings: 'CASL' 1, 'CRSV' 1;
font-size: 1.5em;
font-style: italic;
font-weight: 350;
}
.long-length blockquote p,
.long-length aside p{
max-width: 34em;
}
.long-length blockquote p:first-letter{
margin-left: -0.5em;
}
.long-length blockquote p:before{
content: "“";
}
.long-length blockquote p:last-of-type:after{
content: "”";
}
.long-length blockquote cite{
margin-left: -1.25em;
}
.long-length blockquote cite:before{
content: '— ';
}
.long-length .marginalia p{ 
color: #272927;
}
.long-length .marginalia p:before{
content: "N.B. ";
}
.long-length .marginalia p + p:before{
content: "";
}
.long-length .fig-primary img,
.long-length .fig-secondary img{
width: 100%;
}
.long-length .fig-secondary{
margin: 2.25em 0;
}
.long-length figcaption{
margin-bottom: 3.4285714286em;
max-width: 34em;
}
.long-length .fig-secondary figcaption{
margin-bottom: 1.7142857143em;
}
.long-length .table-of-contents{
list-style-type: none;
padding-bottom: 2em;
border-bottom: 0.05555555556em dotted #272927;  
}
.long-length .table-of-contents li,
.long-length .table-of-contents li ul li{
margin-bottom: 0.3888888889em;
list-style-type: none;
}

.long-length .cta{
font-weight: 550;
letter-spacing: 0;
}

#glossary dt{
font-size: 1.125em;
font-weight: 700;
}
#glossary dt{
margin-bottom: 0.75em;
}
#glossary dd{
margin-bottom: 3em;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
}

footer{
padding-top: 3em;
padding-bottom: 3em;
}
address{
margin: 0;
}
footer img{
height: 1.5em;
}
footer p{
font-size: 0.875em;
line-height: 1.7142857143;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
max-width: 48em;
}


}



/* Screen ≥ 768px (medium) */

@media screen and (min-width: 768px) {


/* general layout styles (medium) */

header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: baseline;
}
header a{
display: inline-flex;
}
header p{
padding:  0;
border-bottom: 0;
}
header p a{
padding: 3.333333333em 0 0.75em;
}
#location .logomark{
display: inline;
width: 1.875em;
margin-right: 0.5em;
}

nav li{
display: inline-flex;
padding: 0;
}
nav a{
font-weight: 750;
display: inline-flex;
padding: 3.75em 0 0.75em;
margin-left: 3.75em;
}
nav a:hover,
nav a:focus{
transform: translateY(-0.25em) scale(1.15);
}

main section + section,
article{
padding: 6em inherit;
}


/* Individual section styles (medium) */

#preface{
padding: 6em inherit 6em;
}

.cta-clarity{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
}
.cta-clarity h3{
flex-grow: 1;
}
.cta-clarity h3 img{
width: 50%;
margin-top: 3em;
margin-bottom: 2.25em;
}
.cta-clarity p{
flex-grow: 1;
width: auto;
text-align: left;
margin: 0 5%;
}

.meetups h3{
flex-grow: 1;
width: 33.3333333333%;
margin: 0;
}
.meetups h3 em{
float: none;
display: block;
margin-top: 0.75em;
margin-left: 0;
}
.meetups li{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: baseline;
}
.meetups .meetup-info{
width: 66.6666666667%;
margin-top: 0.3333333333em;
}
.meetup-info ul {
margin-top: 0;
}
.meetups i{
font-size: 0.875em;
font-weight: 400;
width:  33%;
margin-right: 7%;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
}
.meetups i + *{
width: 60%;
}

.posts li{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
}
.posts div{
width: 56%;
margin-right: 8%;
}
.posts p{
margin-bottom: 0;
}
.post-info{
width: 36%;
margin: 0.25em 0 0;
}

.cta-handbook{
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: flex-start;
background: #e4eddf;
}
.cta-handbook img{
width: 11em;
}
.handbook-info{
text-align: left;
align-items: center;
padding: auto 0;
}

.split-col-asymmetric{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: baseline;
text-align: left;
}
.split-col-asymmetric p{
width: 67%;
padding: 0;
margin-right: 2%;
}
.split-col-asymmetric p + p{
text-align: right;
width: 31%;
margin-right: 0;
}

#contribute,
.split-col-equal{
display: flex;
flex-flow: row wrap;
}
#contribute h2{
width: 100%;
}
#contribute p,
.split-col-equal p{
flex: 1;
width: 48%;
}
#contribute p + p,
.split-col-equal p + p{
margin-left: 4%;
}

#community ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
margin: 3em 0 0;
}
#community li{
width: 46%;
margin-right: 4%;
margin-bottom: 1.5em;
}

#handbook{
background: #e4eddf;
}
#handbook .cta-handbook{
margin-bottom: 0;
}

.contribute-types{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.contribute-types li{
width: 46%;
}

article header{
margin: 0 0 4.5em 0;
}
article header h1{
font-size: 3em;
line-height: 1.25;
letter-spacing: -0.0625em;
color: #272927;
margin: 0 0 0.75em;
max-width: 17.5em;
}
.long-length .fig-secondary img{
width: 40.5em;
}

.long-length .table-of-contents{
padding-bottom: 0;
border-bottom: 0;
}

#glossary dl{
display: flex;
flex-flow: ;
flex-direction: row;
flex-wrap: wrap;
}
#glossary dt{
flex: 1 0 33%;
margin-bottom: 3em;
font-size: 1.25em;
font-weight: 700;
}
#glossary dd{
flex: 1 0 60%;
margin-bottom: 3em;
font-variation-settings: 'MONO' 1, 'CASL' 0, 'CRSV' 0;
}



/* Screen ≥ 1024px (medium/large) */

@media screen and (min-width: 960px) {


main section + section{
padding: 6em 18% 6em 18%;
/* For all sections apart from #preface. 
   Equivalent to 20% right and 24% left gutters with a 56% wide main content area relative to viewport */
}
article{
padding: 6em 0 6em 18%;
}
#preface{
padding: 6em 16.2% 6em 18%;
}

#community li{
width: 30%;
margin-right: 3.3333333333%;
}

#slack-code-of-conduct div{
float: right;
margin: 0 -15% 0 0;
width: 30%;
}
#slack-code-of-conduct div + div{
float: none;
width: 80%;
margin: 0;
}


}



/* Screen ≥ 1280px (large) */

@media screen and (min-width: 1280px) {


/* General typesetting (large) */

h1 b{
font-size: 1.5em;
letter-spacing: -0.02777777778em;
}
h2{
font-size: 2.25em;
letter-spacing: -0.04166666667em;
margin-bottom: 1.3333333333em;
}


/* general layout styles (large) */

header,
main,
footer{
width: 90%;
max-width: 1920px;
}
header{
margin-top: 0;
}
header,
footer{
padding: inherit 4.4444444444%;
/* Equivalent to 4% of viewport */
}
main section + section{
padding: 6em 18% 6em 25%;
/* For all sections apart from #preface. 
   Equivalent to 20% right and 24% left gutters with a 56% wide main content area relative to viewport */
}
article{
padding: 6em 0 6em 25%;
}

.long-length .marginalia{
float: left;
margin: 4px 0 0 -17.5em;
width: 16em;
}


/* Individual section styles (large) */

#preface{
padding: 6em 16.2% 6em 25%;
}
#preface .logomark{
display: inline;
width: 9.375%;
margin: 0 2.125% 0 -12.5%;
vertical-align: baseline;
}

.cta-slack{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: baseline;
}


}
