---
subtitle: connect
logo_mark: true
nav_prefix: connect
---
{% extends "layout.njk" %}

{% block main %}
<section id="preface">

<h1><b class="logotype">Connect</b> with your people on Slack, in our Twitter community, at our conference, or coalition meetups. Let’s talk design systems, style guides, component libraries, and pattern&#160;libraries.</h1>

</section>


<section id="slack" class="alternate">

<h2 class="cta-slack-h"><a href="/connect/slack">Slack Channel</a></h2>
<div class="split-col-asymmetric end">
<p>This is where it all started&#8202;&#8212;&#8202;<a href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w">join our friendly Slack channel</a> for discussions about design systems, style guides, component libraries, and pattern libraries.</p>
<p><a href="/connect/slack">Code of conduct</a></p>
</div>

<h2 class="cta-twitter-h"><a href="https://twitter.com/i/communities/1440734625513439237">Twitter Community</a></h2>
<div>
<p>This is where it all started&#8202;&#8212;&#8202;<a href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w">join our friendly Slack channel</a> for discussions about design systems, style guides, component libraries, and pattern libraries.</p>
</div>

</section>

<section id="clarity">
<a class="cta-clarity" href="http://clarityconf.com">
<h3><img src="/assets/img/clarity-logo.svg" alt="Clarity logo"></h3>
<p>The design systems conference focused on how we work together. <span>Oct 25–29, 2021.</span></p>
</a>
</section>

<section id="coalition">

<h2 class="">Design Systems Coalition</h2>
<div class="split-col-asymmetric">
<p>Design Systems Coalition meetups are inclusive, open events run by local practioners around the world. Want to start your own? Yes! Do it! <a href="//connect/dsc-guidelines">This is what you need to know</a>.</p>
<p><a href="/connect/dsc-guidelines">DSC events guidelines</a></p>
</div>

<ul class="meetups">

<li>
<h3>San Francisco <em class="cta-dsc-twitter"><a href="https://twitter.com/dsc_sf">@dsc_sf</a></em> <em><a href="https://www.sfdsc.co">www.sfdsc.co</a></em></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> <a href="#">Thu 04 Nov 2021</a></li>
<li><i>Location:</i> <a href="#">Location name and address</a></li>
<li><i>Organizers:</i>
<ul>
<li><a href="https://jina.design"><img class="avatar" src="../assets/img/people/jina-anne.jpg" alt="Jina Anne photo"/> Jina Anne</a></li>
<li><a href="http://www.mynameisjoshsilverman.com"><img class="avatar" src="../assets/img/people/josh-silverman.jpg" alt="Josh Silverman photo"/> Josh Silverman</a></li>
<li><a href="http://mina.codes"><img class="avatar" src="../assets/img/people/mina-markham.jpg" alt="Mina Markham photo"/> Mina Markham</a></li>
</ul>
</li>
</ul>
</li>

<li>
<h3>New York <em class="cta-dsc-twitter"><a href="https://twitter.com/nyc_dsc">@nyc_dsc</a></em> <em><a href="https://designsystems.nyc">designsystems.nyc</a></em></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> Meetups resuming shortly</dd>
<li><i>Location:</i> <abbr title="To be Decided.">TBD</abbr></li>
<li><i>Organizers:</i>
<ul>
<li><a href="http://broccolini.net/"><img class="avatar" src="../assets/img/people/diana-mounter.jpg" alt="Diana Mounter photo"/> Diana Mounter</a></li>
<li><a href="https://jxnblk.com/"><img class="avatar" src="../assets/img/people/brent-jackson.jpg" alt="Brent Jackson photo"/> Brent Jackson</a></li>
<li><a href="http://chesleyandrews.com/"><img class="avatar" src="../assets/img/people/chesley-andrews.jpg" alt="Chesley Andrews photo"/> Chesley Andrews</a></li>
<li><a href="http://www.tomtaki.com/"><img class="avatar" src="../assets/img/people/tom-takigayama.jpg" alt="Tom Takigayama photo"/> Tom Takigayama</a></li>
</ul>
</li>
</ul>
</li>

<li>
<h3>London <em class="cta-dsc-twitter"><a href="https://twitter.com/ldn_dsc">@ldn_dsc</a></em></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> Meetups resuming shortly</dd>
<li><i>Location:</i> <abbr title="To be Decided.">TBD</abbr></li>
<li><i>Organizer:</i>
<ul>
<li><a href="http://www.alwaystwisted.com/"><img class="avatar" src="../assets/img/people/stu-robson.jpg" alt="Stu Robson photo"/> Stu Robson</a></li>
</ul>
</li>
</ul>
</li>

</ul>

<p>To use the “Design Systems Coalition” name, you must agree and adhere to the <a href="http://ds.jontangerine.com/connect/dsc-guidelines">DSC guidelines</a>, and get approval from Jina at Design.Systems. Once you’ve been approved, you’ll be added to this list.</p>

</section>


<section id="community" class="alternate">

<h2>Join the Community</h2>
<p>Meet your fellow practitioners and our contributors, helpers, and volunteers.</p>

<ul>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Short Name</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Gargantuan Nameofname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
</ul>


<h3>Want to help and share your knowledge? We want that too!</h3>
<div class="split-col-equal">
<p>From articles, to practical help, or even running your own local meetup, there are a bunch of ways you can get involved. <a href="/contribute">Go to contribute to see how</a>.</p>
<p><a href="https://www.patreon.com/sushiandrobots">Support the Design.Systems project on Patreon</a> — all of our activities, events, and publishing is made possible thanks to patrons like you. </p>
</div>

</section>
{% endblock %}
