---
subtitle: contribute
logo_mark: true
nav_prefix: contribute
layout: layout.njk
---

<section id="preface">

<h1><b class="logotype">Contribute</b> and help your fellow practitioners with your knowledge, experience, and resources.</h1>

</section>


<section class="alternate">

<ul class="contribute-types">
<li>
<h2>Write</h2>
<p>Would you like to write for us? Take a look at our <a href="/learn">current articles and publications</a> for ideas, and then <a href="https://jina.design/contact/">get in touch</a> to chat about your ideas!</p>
</li>
<li>
<h2>Volunteer</h2>
<p>Reach out to one of the orgnizers to help run one of our <a href="/learn">coalition meetups</a> or reach out to <a href="https://jina.design/contact/">Jina at Design.Systems</a> to volunteer at Clarity.</p>
</li>
<li>
<h2>Run a Meetup</h2>
<p>Run your own, which we'd love! You must agree and adhere to the <a href="/connect/dcs-guidelines">DSC Guidelines</a>, and get approval from <a href="https://jina.design/contact/">Jina at Design.Systems</a>.</p>
</li>
<li>
<h2>Ask and Answer</h2>
<p>Join the <a href="https://join.slack.com/t/design-systems/shared_invite/zt-dyukxagw-w5PfwgRReus54M4alVb39w"">Slack channel</a>. Chat and learn. Sometimes the best way to learn is to teach, and the best way to teach is to ask questions.</p>
</li>
</ul>

</section>


<section id="community">

<h2><a href="https://www.patreon.com/sushiandrobots">Support Design.Systems on Patreon</a></h2>
<p><a href="https://www.patreon.com/sushiandrobots">Support the community on Patreon</a> -- all of our activities, events, and publishing is made possible thanks to patrons like you.</p>

<ul>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
<li><a href="#"><img class="avatar" src="../assets/img/example-images/example-profile.jpg" alt="{insert}" /> Firstname Lastname</a></li>
</ul>

</section>
