---
subtitle: home
layout: layout.njk
---

<section id="preface">

<h1><img class="logomark" src="/assets/img/design-systems-logomark.svg" alt="Logomark."> <b class="logotype">Design.Systems</b> is an open, inclusive community run by practitioners since 2016. <a href="/connect">Connect</a> with others on Slack or at events. <a href="/learn">Learn</a> through articles, news, and resources. <a href="/contribute">Contribute</a> your knowledge and get involved.</h1>

</section>


<section id="connect" class="alternate">

<h2><a href="/connect">Connect</a></h2>
<p class="introduction">Join our <a href="/connect/slack">Slack channel</a>, the <a href="ttps://twitter.com/i/communities/1440734625513439237">Twitter community</a>, or at <a href="http://clarityconf.com">Clarity</a>. Follow and come to local meetups.</p>

<a class="cta-slack" href="/connect/slack">
<h3>Slack Channel</h3>
<p><em>Join us</em> in the friendly channel for discussions about design systems, style guides, component libraries, and pattern libraries.</p>
</a>

<a class="cta-twitter" href="https://twitter.com/i/communities/1440734625513439237">
<h3>Twitter Community</h3>
<p><em>Join our friendly new Twitter community</em> for more about design systems, style guides, component libraries, and pattern libraries.</p>
</a>

<a class="cta-clarity" href="http://clarityconf.com">
<h3><img src="/assets/img/clarity-logo.svg" alt="Clarity logo"></h3>
<p>The design systems conference focused on how we work together. <span>Oct 25–29, 2021.</span></p>
</a>

<h2>Meetups</h2>

<ul class="meetups">

<li>
<h3><a href="https://twitter.com/dsc_sf">San Francisco <em class="cta-dsc-twitter">@dsc_sf</em></a></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> <a href="#">Thu 04 Nov 2021</a></dd>
<li><i>Location:</i> <a class="meetup-info__location-detail" href="#">Company, Inc. 9867 Street Name. ZIPCODE</a></li>
</ul>
</li>

<li>
<h3><a href="https://twitter.com/nyc_dsc">New York <em class="cta-dsc-twitter">@nyc_dsc</em></a></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> Meetups resuming shortly</dd>
<li><i>Location:</i> <abbr class="meetup-info__location-detail" title="To be Decided.">TBD</abbr></li>
</ul>
</li>

<li>
<h3><a href="https://twitter.com/ldn_dsc">London <em class="cta-dsc-twitter">@ldn_dsc</em></a></h3>
<ul class="meetup-info">
<li><i>Next meeting:</i> Meetups resuming shortly</dd>
<li><i>Location:</i> <abbr class="meetup-info__location-detail" title="To be Decided.">TBD</abbr></li>
</ul>
</li>

</ul>

<p class="cta-more"><a href="/connect">Connect with the community...</a></p>

</section>


<section id="learn">

<h2><a href="/learn">Learn</a></h2>

{% include "learn-article-list.njk" %}

<a class="cta-handbook" href="https://www.designbetter.co/design-systems-handbook">
<img class="book" src="/assets/img/design-systems-handbook.png" alt="DS Hanbook book cover." width="120px" />
<div class="handbook-info">
<h3>DS Handbook</h3>
<p>The handbook guides readers through best practices around planning, designing, building, and implementing a design system, with insights and first-hand experiences from experts who have gone through the journey.</p>
</div>
</a>

<h3>Links from elsewhere</h3>
<div class="split-col-asymmetric end">
<p>Check out <a href="https://news.design.systems">news.design.systems</a> for curated links from around the web.</p>
<p><a href="/learn">Keep on learning...</a></p>
</div>

</section>


<section id="contribute" class="alternate">

<h2><a href="/contribute">Contribute</a></h2>
<p>From articles, to practical help, or even running your own local meetup, there are a bunch of ways you can get involved. <a href="/contribute">Go to contribute to see how</a>.</p>
<p><a href="https://www.patreon.com/sushiandrobots">Support the Design.Systems project on Patreon</a> -- all of our activities, events, and publishing is made possible thanks to patrons like you.</p>

</section>
